@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://rsms.me/inter/inter.css');

body, html {
    font-family: 'Inter var experimental', 'Inter var', 'Inter';
}
.js-cookie-consent, .cookie-consent {
    width: 100%;
    padding:1rem 2rem;
    background-color: #42389d;
    color:white;
}

.js-cookie-consent-message, .cookie-consent__message{
    margin:0.5rem 1rem 0.5rem 0;
}

.js-cookie-consent-agree, .cookie-consent__agree {
    color:white;
    padding:0.2rem 0.5rem;
    background-color:#5f5f63;
    margin-top:0.5rem;
    border:1px solid white;
    border-radius: 0.4rem;
}

.js-cookie-consent-agree:hover, .cookie-consent__agree:hover {
    opacity: 0.88;
    transition:all 0.25s;
}
